<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huiyishi">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".sqlite.App"
        android:theme="@style/notitle">
        <meta-data android:name="DATABASE" android:value="sugar_example.db"/>
        <meta-data android:name="VERSION" android:value="2"/>
        <meta-data android:name="QUERY_LOG" android:value="true"/>
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example.huiyishi.sqlcourse"/>
        <activity android:name=".BeignActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".HyMessActivity"/>
        <activity android:name=".HuiYiActivity"/>
        <activity android:name=".RoomchoiceActivity"/>
        <activity android:name=".ApplyActivity"/>
        <activity android:name=".RoomdetailsActivity"/>
        <activity android:name=".ChoiceUserActivity"/>
        <activity android:name=".wdappointmentActivity"/>
        <activity android:name=".Histroy_meetingActivity"/>
        <activity android:name=".Histroy_meetdetailsActivity"/>
        <activity android:name=".PersonDetailsActivity"/>
        <activity android:name=".SignActivity"/>

    </application>

</manifest>